<div class="container-fluid admin-main">
  <div class="row">
<div class="col-xs-12 col-md-12">
  <h1>All orders</h1>
  <form #inputForm="ngForm">
  <mat-form-field class="field-input">
    <mat-label>Search by email</mat-label>
    <input matInput [(ngModel)]="searchNameParam" placeholder="email@example.com" name="Order email">
  </mat-form-field>
  &nbsp;&nbsp;
  <!-- <mat-form-field>
    <mat-label>Near Zip Code</mat-label>
    <input matInput [(ngModel)]="zipCodeParam" placeholder="Near zip code" name="Zip code">
  </mat-form-field> -->
  <button mat-button color="primary" type="submit" (click)="search()">Search</button>&nbsp;
  <button *ngIf="searchByEmail" mat-button color="warn" type="submit" (click)="removeSearchByEmail()">Reset</button>
  </form>
  <table *ngIf="orders.length != 0" mat-table [dataSource]="orders">

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Order number &nbsp;<button class="nostyle inline"><span class="material-icons">
expand_more
</span></button></th>
      <td mat-cell *matCellDef="let item" class="cell" > <a routerLink="/orderadmin/{{item.id}}">{{item.id}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Email &nbsp;<button class="nostyle inline"><span class="material-icons">
expand_more
</span></button></th>
      <td mat-cell *matCellDef="let item" class="cell" > <a routerLink="/orderadmin/{{item.id}}">{{item.email}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Total &nbsp;<button class="nostyle inline"><span class="material-icons">
expand_more
</span></button></th>
      <td mat-cell *matCellDef="let item" class="cell" ><a routerLink="/orderadmin/{{item.id}}">${{(item.total * 0.01).toFixed(2)}}</a></td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Order date &nbsp;<button class="nostyle inline"><span class="material-icons">
expand_more
</span></button></th>
      <td mat-cell *matCellDef="let item" class="cell" > {{extensions.calendarTime(item.timeStamp)}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Status &nbsp;<button class="nostyle inline"><span class="material-icons">
expand_more
</span></button></th>
      <td mat-cell *matCellDef="let item" class="cell" > {{item.status}} </td>
    </ng-container>

    <ng-container matColumnDef="archived">
      <th mat-header-cell *matHeaderCellDef class="head-cell" > Archived?<br /><mat-checkbox [(ngModel)]="requireArchived">Required?</mat-checkbox></th>
      <td mat-cell *matCellDef="let item" class="cell" > {{item.archived}} </td>
    </ng-container>

  	<!-- <ng-container matColumnDef="delete">
  		<th mat-header-cell *matHeaderCellDef> </th>
  		<td mat-cell *matCellDef="let item">
  			<button type="button" (click)="delete(item)">Delete</button>
  		</td>
  	</ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <button mat-button (click)="loadPreviousorders()">Previous</button>
  <button mat-button (click)="loadNextorders()">Next</button>
</div>
</div>
</div>
