<mat-drawer-container class="cart-preview-container">
  <mat-drawer [opened]="showCartPreview" position="end" class="cart-preview-container" #cartPreview><app-cart-preview [item]="cartPreviewItem"></app-cart-preview></mat-drawer>
  <mat-drawer-content class="main-content-container">
  <app-navigation *ngIf="!adminView"></app-navigation>
  <app-admin-sidebar *ngIf="adminView"></app-admin-sidebar>
      <router-outlet></router-outlet>
      <div class="clearfix"></div>
      <app-footer *ngIf="!adminView"></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
