<div class="col-xs-12 col-md-10 admin-main" *ngIf="currentUser && currentUser.role == 'admin'">
  <h1>Order</h1>
  <h3 *ngIf="order">Status: {{order.status}}</h3>
  <br /><br />
  <form #inputForm="ngForm" *ngIf="order.id">
    <mat-form-field class="full-width-input" style="outline">
      <mat-label>Order Id</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="order.id" (keydown)="evaluateSubmitStatus()" name="order id" placeholder="Order Id">
      <button matTooltip="Copy" (click)="copyId()" matTooltip="{{copyMessage}}" mat-icon-button matSuffix>
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <br /><br />
    <mat-form-field class="full-width-input" style="outline">
      <mat-label>Invoice Id</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="order.invoiceId" (keydown)="evaluateSubmitStatus()" name="invoice id" placeholder="Invoice Id">
      <button matTooltip="Copy" (click)="copyInvoiceId()" matTooltip="{{copyInvoiceMessage}}" mat-icon-button matSuffix>
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="!itemsLoaded" class="center-content"><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></div>
    <br /><br /><h1>Items</h1>
    <ul *ngIf="itemsLoaded" class="cart-items">
      <li *ngFor="let i of items" class="order-item">
        <div class="select">
          <mat-checkbox class="example-margin" [(ngModel)]="i.selected" [name]="i.id + ' select for tracking'">&nbsp;Add tracking</mat-checkbox>
        </div>
        <div class="order-item-image" [ngStyle]="{'background': '#fff url(' + i.imageUrl + ') repeat 0 0','backgroundSize': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}"></div>
        <a routerLink="/p/{{i.id}}">{{i.name}}</a><br /><br />
        <div *ngIf="i.selectedVariation">
          <span class="bold">{{i.variation1Name}}:</span><span>&nbsp;{{i.selectedVariation.split("+")[0]}}</span>
          <br />
          <span *ngIf="i.variation2Name" class="bold">{{i.variation2Name}}:</span><span *ngIf="i.variation2Name">&nbsp;{{i.selectedVariation.split("+")[1]}}</span>
        </div>
        <span class="bold">Quantity:</span><span>&nbsp;{{i.quantity}}</span><br /><br />
        <br /><br /><br />
      </li>
    </ul>
    <button mat-button *ngIf="order.orderType != 'digital'" (click)="openTrackingNumberInput()">Input tracking number</button>
    <br /><br />
    <h1>Add notes</h1>
    <mat-form-field class="full-width-input" style="outline">
      <mat-label>Notes</mat-label>
      <input matInput [(ngModel)]="notes" name="Notes" placeholder="Notate this order, these notes will be sent to the purchaser.">
    </mat-form-field>
    <br /><br /><h1>Purchaser</h1>
    {{order.email}}
    <br /><br />
    <h3>Payment method</h3>
    <img *ngIf="cardBrand.length != 0" src="/assets/cards/{{cardBrand.toLowerCase()}}.png" height="20px">&nbsp;<b>{{cardBrand}}</b> - {{last4}}<br />
    <b>Expiration:</b> {{expiration}}
    <br /><br /><h1>Refund order</h1>
    <button mat-button color="warn" [disabled]="order.status == 'refunded'" (click)="refundOrderButtonTapped()">Refund order</button>
  </form>
</div>

<ng-template #trackingNumberInput>
  <div class="center-content"><h2 matDialogTitle>Input tracking number</h2>
    <div class="order-item-image" [ngStyle]="{'background': '#fff url(' + selectedItems[0].imageUrl + ') repeat 0 0','backgroundSize': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}"></div><br /><br />
    {{selectedItems[0].name}} <span *ngIf="selectedItems.length > 1">+{{selectedItems.length - 1}} items</span><br /><br />
  </div>
    <br /><br />
    <mat-dialog-actions align="center">
    <mat-form-field class="full-width-input" style="outline">
      <mat-label>Add tracking number</mat-label>
      <input matInput [(ngModel)]="trackingNumberInputValue" name="tracking number" placeholder="Tracking number">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Carrier</mat-label>
      <mat-select [(ngModel)]="carrierInputValue">
        <mat-option *ngFor="let c of carriers" [value]="c">{{c}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />
  </mat-dialog-actions>
    <mat-dialog-actions align="center">
      <button mat-button color="primary" (click)="submitTrackingNumber()">Update</button>
      <button mat-button color="primary" (click)="dismissDialog()">Dismiss</button>
  </mat-dialog-actions>
  <br /><br /><br />
</ng-template>

<ng-template #refundDialog>
  <div class="center-content"><h2 matDialogTitle>Refund Order</h2>
  <div matDialogContent class="alert"></div>
  Refund order <b>{{order.id}}</b>?<br /><mat-icon style="color:red">warning</mat-icon>&nbsp;This cannot be undone</div>
  <mat-dialog-actions align="center">
    <form #inputForm="ngForm">
      <mat-checkbox [disabled]="customRefundAmount" [(ngModel)]="refundShipping" name="refund shipping">&nbsp;Refund shipping cost?</mat-checkbox><br />
      <mat-checkbox (ngModelChange)="customRefundAmountToggled()" [(ngModel)]="customRefundAmount" name="refund custom amount">&nbsp;Specify refund amount</mat-checkbox>
      <mat-form-field *ngIf="customRefundAmount" class="full-width-input">
        <input matInput [(ngModel)]="customRefundAmountInput" name="custom refund input" type="number" placeholder="Refund amount">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <br /><br />
      <button mat-button color="warn" (click)="refundOrder()">Refund order</button>
      <button mat-button color="primary" (click)="dismissDialog()">Dismiss</button>
    </form>
  </mat-dialog-actions>
  <br /><br /><br />
</ng-template>
